{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "stage-0", // Unstable and unrecommended, especially below stage 3
    "react"
  ],
  "plugins": [
    [
      "transform-runtime"
    ]
  ]
}
