/* THIS CSS FILE DOES NOT EXIST ON THE REAL YCOMBINATOR BUT ONLY AS A SCRIPT TAG */
 /* Font Definitions */
@font-face
  {font-family:"Courier New";
  panose-1:2 7 3 9 2 2 5 2 4 4;}
@font-face
  {font-family:Wingdings;
  panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
  {font-family:Wingdings;
  panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
  {font-family:Calibri;
  panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
  {margin-top:0in;
  margin-right:0in;
  margin-bottom:10.0pt;
  margin-left:0in;
  line-height:115%;
  font-size:11.0pt;
  font-family:Calibri;}
a:link, span.MsoHyperlink
  {color:#444444;
  text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
  {color:purple;
  text-decoration:underline;}
.MsoChpDefault
  {font-size:11.0pt;
  font-family:Calibri;}
.MsoPapDefault
  {margin-bottom:10.0pt;
  line-height:115%;}
@page WordSection1
  {size:8.5in 11.0in;
  margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
  {page:WordSection1; width:700 px;}
 /* List Definitions */
ol
  {margin-bottom:0in;}
ul
  {margin-bottom:0in;}
